/* 

@font-face {
    font-family: 'PingLCG';
    src: url(./font/PingAR+LT-Bold.otf) format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'PingLCG';
    src: url(./font/PingAR+LT-ExtraLight.otf) format('opentype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'PingLCG';
    src: url(./font/PingAR+LT-Hairline.otf) format('opentype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'PingLCG';
    src: url(./font/PingAR+LT-Heavy.otf) format('opentype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'PingLCG';
    src: url(./font/PingAR+LT-Light.otf) format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'PingLCG';
    src: url(./font/PingAR+LT-Medium.otf) format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'PingLCG';
    src: url(./font/PingAR+LT-Regular.otf) format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PingLCG';
    src: url(./font/PingAR+LT-Thin.otf) format('opentype');
    font-weight: 100;
    font-style: normal;
} */
